

body {
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    margin: 0;
    /* overflow: hidden; */
  }


  .nav-logo {
    margin: 30px;
    display: flex;
  }

  .logo {
    z-index: 5;
    position: absolute;
    margin-top: -700px;
    margin-left: 50px;
  }

  nav {
    display: flex;
    flex-direction: row;
    
  }

  .nav-item {
  position: relative;
    left: 800px;
    display: flex;
    top: 30px;
    justify-content: space-between;
    list-style-type: none;
    font-size: 1.5em;
    margin-left: 65px;
    color: #6d6a6a;

  }

  .nav-item > span {
    color: #121412;
  }

  .header-image {
    width: 550px;
    z-index: 1;
    margin-top: -110px;
  }

  .creative {
    display: flex;
    float: right;
    margin-top: -600px;
  }

  .header-text > h1 {
    font-size: 7em;
    margin-left: -500px;
    margin-top: -40px;
    -webkit-text-stroke: 2px black;

    font-family: sans; color: #fbfbf9;
  }

  .header-text > h1 > span {
    font-size: 1em;
    margin-left: 150px;
    color: #121412;
  }

  .header-text > p {
    font-size: 2em;
    margin-left: -50px;
    margin-top: -170px;
    width: 90px;
  }

  .social-media {
    display: block;
    margin-right: 100px;
    font-size: 3em;
    margin-top: -70px;
    list-style-type: none;
  }

  .social-media > li > img {
    text-decoration: none;
    list-style-type: none;

  }

  .packages {
    width: 280px;
    height: 50px;
    font-size: 1em;
    margin-top: 10px;
    align-items: center;
    background-color: #121412;
    color: #ffffff;
    border: none;
    font-weight: bold;
    margin-right: -70px;
  }

  .what-we-do {
    display: flex;
    flex-direction: row;
  }

  .dance-box > img{
    width: 300px;
    float: right;
    margin-right: -1220px;
    margin-top: -210px;
  }

  .arrow {
    position: absolute;
    right: 70px;
    margin-top: -200px;

  }

  .arrow > img {
    height: 130px;
  }

  .dance-img > h2 {
    position: absolute;
    font-size: 5em;
    right: 565px;
    top: 330px;
  }

  .dance-img > p {
    position: absolute;
    font-size: 1em;
    right: 320px;
    top: 480px;
    width: 280px;
    font-size: bold;
  }

  .wedo {
    position: absolute;
    right: 750px;
    top: 450px;
  }

  .thins-do {
    height: 60px;
    font-size: 1.2em;
    color: #6d6a6a;
  }

  .thins-do > span {
    color: #121412;
  }


  .vertical {
    border-left: 1px solid black;
    margin-top: -275px;
    margin-left: -126px;
    height: 245px;
    position:absolute;
    left: 50%;
}


hr {
    position: absolute;
    width: 250px;
    color: #070707;
    height: 1px;
    border-top: 3px solid #070707;
    margin: 1em 0;
    padding: 0;
    left: 600px;
    top: 60px;
}